
@import 'vars.css';

.root {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  /* padding: 5rem; */
  overflow: hidden;
}

.info {
  /* height: 20rem; */
  display: grid;
  grid-template: 1fr / 1fr max-content repeat(3,2fr);
  grid-gap: 3rem;
}

.back_box {
  background: var(--g-r-bi);
  grid-area: 1 / 1 / 2 / 2;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

.back_box:hover {
  background: var(--g-r-r-bi);
}

.back {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.name_box {
  background: var(--g-o-bi);
  grid-area: 1 / 2 / 2 / 3;
  padding: 2rem;
  text-align: center;
}

.name {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.system_box {
  background: var(--g-o-bi);
  grid-area: 1/3/2/4;
  padding: 2rem;
  text-align: center;
}

.system {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.ip_box {
  background: var(--g-o-bi);
  grid-area: 1/4/2/5;
  padding: 2rem;
  text-align: center;
}

.ip {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.active_box {
  background: var(--g-g-bi);
  grid-area: 1/5/2/6;
  padding: 2rem;
  text-align: center;
}

.inactive_box {
  background: var(--g-r-bi);
  grid-area: 1/5/2/6;
  padding: 2rem;
  text-align: center;
}

.status {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.timer_box {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.timer {
  color: white;
  font-size: 10rem;
  margin: 0;
  color: var(--c-g);
}

.timer_stop {
  color: white;
  font-size: 10rem;
  margin: 0;
  color: var(--c-r);
}
